html {
    background-color: darkgrey;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "\\30D2ラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "\\30E1イリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif;

}

.main-container {
    background-color: white;
    border-radius: 6px;
    width: 450px;
    height: 640px;
}

.logo {
    margin: 50px 20px 10px 190px;
    padding-top: 50px;
}

.form-head {
    text-align: center;
    font-weight: bold;
}

.tagline {
    color: rgb(204, 204, 204);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.form {
    position: relative;
    margin: 50px 100px 50px 100px;
}

.info {
    border: none;
}

input[type=text]: focus {
    border: 12px solid lightblue;
    border-radius: 5px;
    margin: 3px;
}

.lets-go {
    cursor: pointer;
}