html {
    background-color: lightgrey;
}

* {
    box-sizing: border-box;
}

/* flex container */
.fc { display: flex;
    align-items: center;
    justify-content: center;
}

.lg {
    width: 600px;
    height: 470px;
    background-color: blue;  
    position: fixed;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
}

.md {
    width: 350px;
    height: 270px;
    background-color: red;
}

.sm {
    width: 185px;
    height: 155px;
    background-color: yellow;
}